@import url('../Root.css');

.contentWrapper {
    display: grid;
    grid-template-columns: auto 60px auto auto auto;
    grid-template-areas: 
        ". info demo img ."
        "larrow title title img rarrow"
        ". text text img .";
    margin: 0 auto;
    padding: 82px 34px;
}

.info {
    grid-area: info;
}

.info, .demoBtn{align-self: end;}

.demoBtn {
    grid-area: demo;
}

.proTitle {
    grid-area: title;
    align-self: center;

    width: 347px;
    font-family: var(--title-font);
    font-size: 32px;
}

.proTitle, .description{margin: 0;}

.description {
    grid-area: text;

    height: 115px;
    width: 334px;
    font-size: 20px;
}

.img {
    grid-area: img;

    height: 393px;
    border: var(--border);
}

.img, .nexBtn{justify-self: end;}

.preBtn {
    grid-area: larrow;
    align-self: center;

    cursor: pointer;
}

.nexBtn {
    grid-area: rarrow;
    align-self: center;

    cursor: pointer;
}
