/* Grid area for CodeContent */
.codeWrapper {
    grid-template-areas: 
        ". extra demo img ."
        "larrow title title img rarrow"
        ". text text img .";
}

/* Grid area for FigmaContent */
.figmaWrapper {
    grid-template-areas:
        ". extra . img ."
        "larrow title title img rarrow"
        ". text text img .";
}

.codeWrapper, .figmaWrapper{
    display: grid;
    grid-template-columns: auto 60px auto 321px auto;
    margin: 0 auto;
    padding: 82px 34px;
}

.extraDescription{
    grid-area: extra;
}

.extraDescription, .demoBtn{
    align-self: end;
}

.demoBtn {
    grid-area: demo;
}

.title {
    grid-area: title;
    align-self: center;

    width: 347px;
    font-family: var(--title-font);
    font-size: 32px;
}

.title, .description{ margin: 0; }

.description {
    grid-area: text;

    height: 115px;
    width: 334px;
    font-size: 20px;
}

.img {
    grid-area: img;

    height: 393px;
    border: var(--border);
}

.img, .nexBtn{ justify-self: end; }

.preBtn {
    grid-area: larrow;
    align-self: center;

    cursor: pointer;
}

.nexBtn {
    grid-area: rarrow;
    align-self: center;

    cursor: pointer;
}

/* Tooltip only on CodeContent */
.skillsToolTip{
    max-width: 200px !important;
    background-color: white !important;
    border: var(--border);
    border-radius: 0px !important;
    color: black !important;
    opacity: 1 !important;
}