@import url('../Root.css');

.container{
    margin-right: 70px;
}

.header{
    background-color: var(--tab-color);
    border: var(--border);
    font-family: var(--title-font);

    display: grid;
    grid-template-areas: 
        "codeTab figTab title larrow rarrow";
    grid-template-columns: 173px 173px 645px 25px 73px;
}

.codeTab, .figmaTab{cursor: pointer;}

.codeTab{
    grid-area: codeTab;
    justify-self: end;
    align-self: end;
}

.figmaTab{
    grid-area: figTab;
    align-self: end;
}

.header h1{
    grid-area: title;
    font-size: 34px;
    padding: 2.5px 0 2.5px 67px;
}
.larrow, .rarrow{cursor: pointer;}

.larrow{
    grid-area: larrow;
    align-self: center;
}

.rarrow{
    grid-area: rarrow;
    align-self: center;
}

.contentContainer{
    margin-top: -10px;
    background-color: var(--div-background);
    border: var(--border);
}