@import url('../Root.css');

.container{
    margin-right: 70px;
}

.header{
    background-color: var(--tab-color);
    padding: 2.5px 0;
    border: var(--border);

    display: grid;
    grid-template-areas: 
        "codeTab figTab title larrow rarrow";
    grid-template-columns: 173px 173px 645px 25px 73px;
    /* gap: 20px; */
}

.header p:first-child{
    grid-area: codeTab;
    align-self: end;
}

.header p:nth-child(2){
    grid-area: figTab;
    align-self: end;
}

.header h1{
    grid-area: title;
    font-size: 34px;
    padding-left: 67px;
}

.larrow{
    grid-area: larrow;
    align-self: center;
}

.rarrow{
    grid-area: rarrow;
    align-self: center;
}

.contentContainer{
    margin-top: -10px;
    background-color: var(--div-background);
    border: var(--border);
}