.container{
    margin: 65px auto 0 -183px;
    width: 100vw;
}

/* Tab section */
.header{
    background-color: var(--tab-color);
    border: var(--border);
    padding: 40px 200px;
    height: 60px;
}

.contentWrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 61px 88px 61px 248px;
    font-size: inherit;
    border: var(--border);
    margin-top: -10px;
    background-color: var(--div-background);
}

.speechBubble{
    font-family: var(--title-font);
}

.media{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.media svg{
    cursor: pointer;
}

/* Adjustments for bigger screens */
@media screen and (min-width: 1750px){
    .contentWrapper{
        padding: 100px 88px 100px 248px;
        gap: 2vw;
    }
    .media{
        flex-direction: row;
        gap: 2vw;
    }
}

/* Adjustments for tablet screens */
@media screen and (max-width: 1280px){
    .container{
        margin: 65px 70px 0 auto;
        width: 90vw;
    }
    .contentWrapper{
        flex-direction: column;
        gap: 5vw;
        padding: 61px 0;
    }
    .media{
        flex-direction: row;
        gap: 5vw;
    }
}

@media screen and (max-width: 950px){
    .container{
        width: 100%;
    }
}