.NavWrapper{
    width: 60px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    
    /* positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;

    /* customazation */
    gap: 28px;
    background-color: var(--gray-detail-color);
    border-left: var(--border);
}

.NavWrapper div{
    font-family: var(--title-font);
    font-size: 20px;
    right: 0;
}

.NavWrapper h2{
    margin: 12px;
    white-space: nowrap
}

.startModal, 
.aboutMeModal, 
.projectsModal, 
.contactModal{
    position: absolute;
    right: 70px;
    background-color: var(--gray-detail-color);
    border: var(--border);
    margin-top: -50px;
    cursor: pointer;
}

.NavWrapper div svg{ cursor: pointer; }
