.NavWrapper{
    width: 60px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    
    /* positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;

    /* customazation */
    gap: 28px;
    background-color: var(--gray-detail-color);
    border-left: var(--border);
}