@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');

:root{
  /* Colors */
  --background: #008484;
  --border-color: #959494;
  --gray-detail-color: #C0C0C0;
  --tab-color: #000084;
  --title-font-color: white;
  --div-background: white;

  /* Fonts */
  --title-font: "Press Start 2P", system-ui;
  --text-font: "Trispace", sans-serif;
  --header-font-size: 34px;

  /* Border */
  --border: 10px ridge #9e9c9c;
  
}

body{
  margin: 0;
  font-family: var(--text-font);
  background-color: var(--background);
}

body h1{
  font-family: var(--title-font);
  color: var(--title-font-color);
}